@import '@/styles/variable.scss';

.drawer {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: -100%;
  transition: left 500ms ease;
  background-color: $container-bg;

  display: flex;
  flex-direction: column;
}

.drawer.open {
  left: 0;
}

.drawer-header {
  height: 5rem;
  background-color: $white-bg;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;
  line-height: 1.8;
  font-weight: 600;

  user-select: none;
}

.close-icon {
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  width: 2.2rem;
  height: 2.2rem;
  cursor: pointer;
}

.drawer-contents {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

.customer-center-button {
  margin: 1rem 0;
  background-color: $white-bg;
  height: 50px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.65rem;
}

.empty {
  background-color: $white-bg;
  min-height: 1px;
  flex-grow: 1;
}
