@import '@/styles/variable.scss';

.faq-time {
  padding: 4rem 1.7rem 9rem;
  background: $white;

  .title {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9;
  }

  .content {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.7;
  }

  .subcontent {
    font-size: 1.4rem;
    line-height: 1.7;
    color: $gray;
  }
}
