@import '@/styles/variable.scss';

.container {
  width: 100%;
  max-width: $container-width;
  height: 100vh;
  overflow: auto;
  position: relative;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container.hide {
  overflow: hidden;
}

.container::-webkit-scrollbar {
  display: none;
}
