@import '@/styles/variable.scss';

.outer-container {
  width: 100%;
  max-width: $container-width;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.inner-container {
  background: $container-bg;
  width: 100%;
  height: 100%;
  position: relative;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-top: 5rem;
  overflow: scroll;
}

.inner-container::-webkit-scrollbar {
  display: none;
}

.inner-container.hide {
  overflow: hidden;
}
