@import "@/styles/variable.scss";

.grid-wrapper {
  border-radius: 0.5rem;
  background: $white;
}

.brand-img-Wrapper {
  display: flex;
  justify-content: center;
  margin: 1.7rem 0 1.5rem 0;
}

.brand-img {
  width: 3.6rem;
  height: 3.6rem;
}

.brand-name {
  font-weight: 500;
  size: 1.2rem;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 1.3rem;
}
