@import "@/styles/variable.scss";

.box {
  display: flex;

  width: 100%;
  height: 10.762rem;

  margin: 0 0 0.1rem 0;
  padding: 1.7rem;

  cursor: pointer;
  background-color: $white;
}

.info {
  margin: 0.3rem 0 0 1.7rem;
}

.img {
  width: 7.4rem;
  height: 7.4rem;

  border-radius: 5px;
  background-color: $container_bg;
  //background-color: transparent;
}

.store {
  font-family: sans-serif;
  margin: 0 0 0.7rem 0;

  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1;
  color: $gray;
}

.product {
  margin: 0 0 1.3rem 0;

  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1;
  color: $black;
}

.product.noneStore {
  margin: 0.7rem 0 1.3rem 0;
}

.price {
  display: flex;
}

.discount-rate {
  display: flex;
  align-items: center;

  margin: 0 0.9rem 0 0;

  font-family: sans-serif;
  font-weight: 500;
  font-size: 1.6rem;

  color: $highlight;
}

.selling-price {
  display: flex;
  align-items: center;

  margin: 0 0.6rem 0 0;

  font-family: sans-serif;
  font-weight: 600;
  font-size: 1.6rem;

  color: $black;
}

.original-price {
  display: flex;
  align-items: center;

  margin: 0.2rem 0 0 0;

  font-family: sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  text-decoration: line-through;

  color: $gray;
}
