@import '@/styles/variable.scss';

.header {
  height: 5rem;
  font-size: 1.5rem;
  line-height: 1.8;
  font-weight: 600;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;

  position: fixed;
  top: 0;
  width: 100%;
  max-width: $container-width;

  z-index: 10;
}

.icon {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
