@import '@/styles/variable.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'apple sd gothic neo', sans-serif;
}

html {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  width: 100%;
  line-height: 1.5;
}

#__next {
  height: 100%;
  width: 100%;
  background-color: $body-bg;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

ol,
ul,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}
