// colors
$body-bg: #ddd;
$container-bg: #f1f3f4;
$highlight: #ff5757;
$black: #000000;
$white: #ffffff;
$gray: #808080;
$gray200: #ebeced;
$gray300: #eeeeee;
$gray500: #cccccc;
$gray600: #999999;
$gray800: #333333;

//length

// sizing
$container-width: 672px;
